@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    IEnumerable<string> strLista = new List<string> { "LAPTOP", "IMPRESORA", "ACCESORIOS", "PROYECTORES", "TINTA", "PASTA TERMICA" };
    IEnumerable<int> intList = new List<int> { 2005, 2006,2007,2015 };
}

<div class="text-centers">
    <h2>Mantenimiento de equipos</h2>
</div>
<div class="row">
    <div class="form-group">
        <label>Nombre equipo:</label>
        @Html.TextBox("txtNombre", "", new {@class="form-control"})
    </div>
    <div class="form-group p-2">
        @Html.Label("lblDescripcion","Descripción")
        @Html.TextArea("txtaDescripcion", "valor asignado", new {@class="form-control"})
    </div>
    <div class="form-group p-2">
        @Html.Label("lblModelo","Modelo")
        @Html.TextBox("txtModelo", "", new {@class="form-control"})
    </div>
    <div class="form-group p-3">
        @Html.Label("lblAnioCompra","Año de Compra")

        @Html.ListBox("Lista", new SelectList(intList))
    </div>
    <div class="form-group p-2">
        @Html.Label("lblCosto","Costo")
        @Html.TextBox("txtCosto", "", new{@class="form-control"})
    </div>

    <div class="form-group p-2">
        @Html.Label("lblVidaUtil","Vida útil")
        @Html.TextBox("txtVidaUtil", "", new{@class="form-control"})
    </div>

    <div class="form-group p-2">
        @Html.Label("lblTipoEquipo","Tipo de Equipo")
        @Html.DropDownList("ddlTipoEquipo", new SelectList(strLista),"---Seleccione una opción---")
    </div>
    <div class="form-group p-2">
        @Html.CheckBox("estado")Inactivo
    </div>
    <div class="form-group p-4 text-center">
        <input type="submit" class="btn btn-success" value="Guardar" />
        @Html.ActionLink("Guardar", "Guardar", "Home")
    </div>

</div>